{% extends 'base.html' %}
{% block main %}
<h1> About </h1>
The <i>web of thoughts</i> allows you to take notes in the form of an interactive graph with the options of organizing
nodes hierarchically and of appending various (text-based) notes to nodes. Through exploring the graph you can also
discover similar thoughts of other users (if they have opted to make the corresponding parts of their graphs public).
<br />
<br />
To get started, <a href="signup">create an account</a> and head over to the <a href="graph">graph</a> page to begin
exploring. You can also check out <a href="trending">trending</a> to see what is currently popular.
{% endblock %}