<!doctype html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="topbar">
  <div class="topbarContent">
    The Web of Thoughts
  </div>
</div>

<div class="sidebar">
  {% if session.get('name') %}
    <center>
      <a href="{{ url_for('profile', user=session['name']) }}" style="color: #FFFFFF">
        Hello {{ session['name'] }}
      </a>
    </center>
  {% endif %}
  <a href="{{ url_for('index') }}"> Home </a>
  <a href="{{ url_for('graph') }}"> Explore Graph </a>
  {% if session.get('name') %}
    <!-- TODO add profile here -->
    <a href="{{ url_for('logout') }}"> Logout </a>
  {% else %}
    <a href="{{ url_for('login') }}"> Login </a>
    <a href="{{ url_for('signup') }}"> Signup </a>
  {% endif %}
  <center>
  Search users
  <form action="{{ url_for('searchusers') }}">
    <input type="text" name="user_query">
    <input type="submit" name="submit">
  </form>
  </center>
</div>
</head>

<body>
<br>
<br>
<br>
<br>
<br>
<div class="main">
  {% block main %} Content goes here {% endblock %}
</div>
</body>

</html>
