{% extends 'base.html' %}
{% block main %}
   <style type="text/css">
        #mynetwork {
          width: 1000px;
          height: 400px;
          border: 1px solid lightgray;
        }
    </style>
    <center>
        <div id="mynetwork"></div>
        <br />
        <div id="mycontrols">
            <button onclick="add_node();">Add Node</button>
            <button onclick="remove_node();">Remove Node</button>
            <button onclick="add_edge();">Add Edge</button>
            <button onclick="remove_edge();">Remove Edge</button>
            <button onclick="add_note();">Add Note</button>
            <button onclick="add_parent_child();">Add Parent/Child Relation</button>
        </div>
        <br />
        <div id="paragraph_display"></div>
        <div id="userlinks"></div>
    </center>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="{{ url_for('static', filename='graph.js') }}"></script>
{% endblock %}
