{% extends 'base.html' %}
{% block main %}
<h1> Sign Up </h1>
<b>Caution:</b>  As this website is currently a prototype, please use a <b>new</b> password
just for this website, and do not upload any overly personal information.
<br />
<br />
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.name.label }} <br>  {{ form.name() }} <br>
    {{ form.password1.label }} <br> {{ form.password1() }} <br>
    {{ form.password2.label }} <br> {{ form.password2() }} <br>
    {{ form.submit() }}
</form>
<br>
<br>
Alternatively, if you already have an account, please 
<a href="{{ url_for('login') }}">login.</a>
<br>
<a href="{{ url_for('index') }}">Return home</a>
{% endblock %}

